---
// Assets
import { Image } from "astro:assets";
import one from "@/images/projects/4.png";
import two from "@/images/projects/6.png";
import three from "@/images/projects/5.png";
import four from "@/images/projects/3.png";
import five from "@/images/projects/2.png";
import six from "@/images/projects/1.png";

// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
const data = [
  {
    image: one,
    year: "2025",
    title: "Fjord Weaver",
    link: "#_",
    description: `A minimalist grid system generator for modern web layouts, emphasizing clarity and structure.`,
  },
  {
    image: two,
    year: "2025",
    link: "#_",
    title: "Eco Saga",
    description: `Typography scale calculator inspired by Swiss design principles for harmonious text hierarchies.`,
  },
  {
    image: three,
    year: "2024",
    link: "#_",
    title: "MindMap Odin",
    description: `Asymmetrical layout builder for clean, functional designs that prioritize readability.`,
  },
  {
    image: four,
    year: "2023",
    title: " Valhalla",
    link: "#_",
    description: `Sans-serif font pairing tool for creating elegant, readable typographic combinations.`,
  },
  {
    image: five,
    year: "2020",
    title: "Space Aurora",
    link: "#_",
    description: `Color palette generator using Swiss color theory for balanced and impactful designs.`,
  },
  {
    image: six,
    year: "2018",
    title: "Health Rune",
    link: "#_",
    description: `Modular component library for structured UI design with emphasis on simplicity and functionality.`,
  },
];
---

<section>
  <Wrapper variant="standard">
    <div
      class="grid grid-cols-1 gap-4 md:grid-cols-3 border-b py-8 border-base-200"
    >
      <div class="lg:sticky lg:top-24 lg:z-40 self-start">
        <Text
          tag="h2"
          variant="textSM"
          class="text-base-900 font-bold uppercase"
        >
          Projects
        </Text>
      </div>
      <div
        class="lg:col-span-2 grid grid-cols-1 md:grid-cols-2 gap-y-12 gap-x-8"
      >
        {
          data.map((project) => (
            <article class=" relative grid grid-cols-1 gap-4 lg:grid-cols-3 lg:items-start ">
              <Image
                width={800}
                height={600}
                src={project.image}
                alt={project.title}
                class="lg:col-span-full aspect-12/7 object-cover object-top w-full"
              />
              <div class="lg:col-span-2">
                <Text
                  tag="h3"
                  variant="textSM"
                  class="text-base-900   font-bold uppercase"
                >
                  <a href={project.link}>
                    <>
                      <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl" />
                      <span class="relative z-10"> {project.title}</span>
                    </>
                  </a>
                </Text>
                <Text
                  tag="p"
                  variant="textXS"
                  class="relative z-10 text-base-600        "
                >
                  {project.description}
                </Text>
              </div>
              <Text
                tag="p"
                variant="textXS"
                class="relative z-10   flex items-center text-sm text-base-600    lg:ml-auto"
              >
                <time datetime={project.year}> {project.year}</time>
              </Text>
            </article>
          ))
        }
      </div>
    </div>
  </Wrapper>
</section>
